In [2]:
# import libraries
import pandas as pd

In [ ]:
# saved toronto data in csv format from part 1 of assignment (with postcode, neighborhood, borough)
# toronto_data.csv
# saved geographical coordinates of each post code
# Geospatial_Coordinates.csv

In [23]:
toronto_data = pd.read_csv('toronto_data.csv')

In [24]:
toronto_data.drop(columns = "Unnamed: 0", inplace = True)
toronto_data.head()
#print(toronto_data.columns)
print(toronto_data.shape)

(103, 3)

In [19]:
# read geographical coordinates for each postal code
coordinates = pd.read_csv("http://cocl.us/Geospatial_data")
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [20]:
# rename "Postal Code" in coordinates to "Postcode"
coordinates.rename(columns = {'Postal Code': 'Postcode'}, inplace = True)
coordinates.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [21]:
# match postcode and merge the two dataframes
toronto_data.set_index('Postcode')
coordinates.set_index('Postcode')
toronto_data_coordinates = pd.merge(toronto_data, coordinates)
toronto_data_coordinates.head()

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476